<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header th:replace="fragments/header :: header">
</header>
<body>
<h1>Fake Data Hurray</h1>
<table style="width:100%">
    <tr>
        <th>Timestamp</th>
        <th>Moisture</th>
    </tr>
    <tr th:each="sensorDataEntry: ${sensorData}">
        <td th:text="${sensorDataEntry.getTimestamp()}"></td>
        <td th:text="${sensorDataEntry.getMoisture()}"></td>
    </tr>
</table>
<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>